[submodule "sources/tools/rkflashtool"]
	path = sources/tools/rkflashtool
	url = ../../neo-technologies/rkflashtool
[submodule "sources/tools/rkdeveloptool"]
	path = sources/tools/rkdeveloptool
	url = ../../rockchip-linux/rkdeveloptool
[submodule "sources/docker"]
	path = sources/docker
	url = ../../amery/docker-builder
[submodule "sources/u-boot/arm-trusted-firmware"]
	path = sources/u-boot/arm-trusted-firmware
	url = ../../ARM-software/arm-trusted-firmware.git
[submodule "sources/u-boot/u-boot-rockchip"]
	path = sources/u-boot/u-boot-rockchip
	url = ../../bilby-board/u-boot
[submodule "sources/linux/linux-rockchip"]
	path = sources/linux/linux-rockchip
	url = ../../bilby-board/linux
